{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Об авторе проекта</title>
{% endblock %}
{% block content %}
<ul>
    <h1>Страничка автора</h1>
    <p>
        <br>
        <img src="{% static 'img/my_photo.jpg' %}" width="300" height="450" class="d-inline-block align-top" alt="">
        <br>
            <br>
                Привет, всем!
            <br>
                <br>
                    Меня зовут Влад, мне 33 года.
                    13 лет я работаю электриком-диагностом марки AUDI в Москве.
                    <br>
                        Ещё я в летний сезон дополнительно работаю в сфере организации свадеб...
                    <br>
                        9 сентября у меня родился сын Василий и из-за навалившихся дел я, 
                        скорее всего, вовремя не сдам 4й спринт...
                    <br>
                        На обучение пришёл с целью сменить профессию!
                    <br> 
        <strong>
            Обо мне на других ресурсах:
        </strong>
        <a href="https://github.com/VladislavFed">GitHub<a>
    <ul>
    
          
</p>
{% endblock %} 